/* Site Colors */
$color-primary:#ffefd5;
$color-secondary: #fc7d52;
$color-secondary-2: #e9967a;
$color-titles: #191970;
$color-buttons: #2f4f4f;
$color-cards: rgb(214, 207, 207);

/* Fonts */

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Raleway', sans-serif;

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-size: 1em;
    font-family: $font-primary;
}
.header {
    background-color: $color-secondary;
    padding: 5px;
    text-align: center;
    .title {
        color: $color-titles;
        padding-bottom: 10px;
        .sub-title {
            font-size: 45%;
            font-weight: bold;
            display: block;
            color: rgb(248, 253, 199);
        }
    }
    .logo {
        width: 90px;
        height: 90px;
        border-radius: 50px;
        background-color: white;
        margin: auto;
    }
    .img-logo {
        width: 100%;
        border-radius: 40px;
        box-shadow: 2px 4px 4px rgb(0, 2, 3, .3);
    }
    ul {
        padding: 0;
        margin-top: 5px;
    }
    li {
        
        list-style: none;
        background-color: $color-primary;
        margin: 0;
      
        a {
            text-decoration: none;
            color: $color-titles;
            display: block;
            padding: 10px;  
            &:hover {
                background-color: $color-secondary;
            }
        }
    }
}
.content {
    .card {
        border-radius: 5px;
        height: 250px;
        background-color: $color-cards;
        margin: 8px auto;
    }
}
.footer {
    height: 20vh;
    text-align: center;
    color: white;
    padding: 2em;
    background-color: $color-secondary;
}

/* Media Queries */

@media screen and (min-width: 40em) {
    .header {
        .main-nav {
            display: flex;
            justify-content: center;
            li {
                background-color: $color-secondary;
            }
            a:hover {
                background-color: whitesmoke;
            }
        }
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .card {
            flex: 1 0 30%;
            margin: 10px;
        }
    }
}